/*-----FONTS------*/
/*
font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;

background: -webkit-linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #1a2639 70%, #1a2639 70%);
background: -o-linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #1a2639 70%);
background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #1a2639 70%);
background: linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3e4a61 70%, #1a2639 70%);

*/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

body {
	background: #24242a;
}

/*----------------------------NAV BAR------------------------------*/

#nav {
	background: ;
	width: 100%;
	height: 15%;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	padding-top: 10px;
}

	#nav h1 {
		color: orange;
		float: left;
		width: 100px;
		height: 100%;
		background: ;
		margin-left: 50px;
		font-size: 55px;
		transition: 0.6s;
		cursor: pointer;
	}

		#nav h1:hover {
			color: white;
		}

	#navLinks {
		background: ;
		float: right;
		width: 900px;
		height: 100%;
		font-size: 12px;
		padding-top: 35px;
	}

	#nav li {
		display: inline-block;
	}

	#nav a {
		text-decoration-style: none;
		text-decoration: none;
		color: white;
		margin-left: 20px;
		transition: 0.6s;
		border: 0px solid orange;
		border-radius: 3px;
		padding: 5px;
		padding-left: 30px;
		padding-right: 30px;
		background: rgba(255, 255, 255, 0.1);
	}

		#nav a:hover {
			color: orange;
			background: rgba(0, 0, 0, 0.5);
		}

	#li a { 
		border-bottom: 1px solid orange;
	}

/* -----------------------------------   MAIN CONTENT 1 ------------------------------------*/

#main-1 {
	height: 450px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(0, 0, 0, 0.4);
	margin-top: -103px;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}

	.main-11 {
		width: 130px;
		height: 130px;
		margin: auto;
		margin-top: 150px;
		background: url(../images/profile3.jpg);
		background-color: black;
		background-repeat: no-repeat;
		background-position: center;
		border: 2px solid orange;
		border-radius: 100px;
	}

#main-1 h1 {
	color: white;
	text-align: center;
	margin-top: 50px;
}

/* -----------------------------------   MAIN CONTENT 2 ------------------------------------*/	

/*DATOS*/

	#datos-banner {
		background: rgba(255, 255, 255, 0.1);
		width: 80%;
		height: 450px;
		margin: auto;
		box-sizing: border-box;
		padding-top: 48px;
	}

		#datos-card {
			background: rgba(0, 0, 0, 0.5);
			height: 350px;
			margin: auto;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 30px;
			padding-top: 2px;
		}
			#datos-card li {
				color: orange;
				margin-top: 22px;
				margin-left: 50px;
				font-size: 17px;
			}

			#datos-card p {
				color: white;
				padding-left: 100px;
				margin-top: -25px;
			}

				#li-2 p {
					margin-left: 70px;
				}

				#li-1 p {
					margin-left: 20px;
				}

/*CONTAINER*/

#container-banner {
		background: #161619;
		width: 100%;
		height: 400px;
		box-sizing: border-box;
		padding-top: 130px;
		padding-left: 70px;
		display: flex;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		}

			#container-banner h1 {
				color: orange;
				text-align: left;
				font-size: 60px;
				display: block;
				margin: auto;
				margin-top: 20px;
			}

			#container-banner img {
				display: block;
				height: 200px;
				margin: auto;
				margin-top: -38px;
			}

#container-1 {
	background: ;
	height: 1220px;
	width: 100%;
}

	/*MAIN-1*/

	#main-2 {
		background: rgba(255, 255, 255, 0.1);
		width: 80%;
		height: 1220px;
		margin: auto;
	}

	.main-22 {
		background: ;
		height: 33%;
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}

		.main-22-1 {
			height: 100%;
			width: 40%;
			background: ;
		}
			.main-22-1 img {
				height: 350px;
				width: 350px;
				border-radius: 5px;
				margin: auto;
				display: block;
				margin-top: 25px;
			}

		.main-22-2 {
			height: 100%;
			width: 60%;
			background: ;
			box-sizing: border-box;
			padding: 20px;
		}
			.main-22-21 {
				background: rgba(0, 0, 0, 0.3);
				width: 100%;
				height: 60%;
				box-sizing: border-box;
				padding: 15px;
				margin-left: -30px;
				margin-top: 50px;
				border-radius: 10px;
			}

		.main-22 h1 {
			color: orange;
		}

		.main-22 p {
			font-size: 20px;
			color: white;
		}

		/*MAIN-2*/

		#main-22-11 {
			background: ;
			width: 40%;
		}
			#main-22-11 img {
				height: 250px;
				width: 350px;
				margin-top: 75px;
			}

		#main-22-12 {
			background: ;
			width: 60%;
			padding: 20px;
		}
			.main-22-22 {
				background: rgba(0, 0, 0, 0.3);
				width: 100%;
				height: 60%;
				box-sizing: border-box;
				padding: 15px;
				margin-top: 70px;
				margin-left: 20px;
				border-radius: 10px;
			}

		/*MAIN-3*/

		#main-22-3 img {
			height: 280px;
			margin-top: 60px;
		}

		#main-22-31 {
			margin-top: 70px;
		}

	#container-1 hr {
		width: 80%;
		margin: auto;
		color: rgba(0, 0, 0, 0.5);
	}

/* --------------------------------------- FOOTER ------------------------------------*/	


footer {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 300px;
	-webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	
}

	#footer-pc-1 {
		background: ;
		width: 100%;
		height: 85%;
		display: flex;
	}

		.footer-11 {
			background: ;
			height: 100%;
			width: 50%;
			flex: 1;
			box-sizing: border-box;
			padding-top: 50px;
			text-align: center;
		}

			.footer-11 h1 {
				color: orange;
				font-size: 50px;
			}

			.footer-11 h2 {
				color: white;
				font-style: ;
			}

		.footer-11:nth-child(2) {
			background: ;
		}
			.footer-contact {
				background: ;
				width: 370px;
				height: 40px;
				display: flex;
				color: orange;
				padding-top: 10px;
				margin: auto;
			}
				.footer-contact img {
					margin-right: 20px;
					padding-top: 2px;
					height: 22px;
				}

	#footer-pc-2 {
		background: rgba(255, 255, 255, 0.2);
		width: 100%;
		height: 15%;
		text-align: center;
		box-sizing: border-box;
		padding: 10px;
	}

	#hr-footer {
		visibility: hidden;
	}

/*--------------------------------------------HIDDE NAV-MOBILE---------------------------------------*/

@media only screen and (min-width: 741px) {	
	#title-mobile {
		display: none;
	}	

	nav {
		display: none;
	}
}
/*-------------------------------MEDIA QUERY ONE PRE-4K--------------------------------*/

@media only screen and (max-width: 1920px) {

	#datos-card {
		width: 60%;
		background: ;
	}

	.main-22-21 {
		margin-left: -100px;
	}

	.main-22-22 {
		margin-left: 100px;
	}

}

@media only screen and (max-width: 1790px) {

	.main-22-21 {
		width: 90%;
		margin-left: -20px;
	}

	.main-22-22 {
		width: 90%;
		margin-right: 20px;
	}
}

@media only screen and (max-width: 1450px) {

	.main-22-21 {
		width: 90%;
		margin-left: -10px;
		padding: 30px;
	}
		.main-22-21 p {
			font-size: 17px;
		}

	.main-22-22 {
		width: 90%;
		margin-left: 70px;
		padding: 30px;
	}
		.main-22-22 p {
			font-size: 17px;
		}
}

@media only screen and (max-width: 1350px) {

	.main-22-22 {
		width: 90%;
		margin-left: 40px;
		padding: 30px;
		padding-top: 20px;
	}
		.main-22-22 p {
			font-size: 17px;
		}

		#main-22-11 img {
			margin-left: -10px;
		}
}

@media only screen and (max-width: 1280px) {

	#datos-card {
		width: 70%;
		background: ;
	}

		#datos-card li {
			font-size: 15px;
			margin-top: 25px;
		}

	#main-2 {
		width: 90%;
	}

	.main-22-21 {
		margin-left: 40px;
		height: 250px;
	}

	.main-22-1 img {
		margin-left: 50px;
	}

	.main-22-22 {
		height: 230px;
		margin-left: 10px;
	}	

		#main-22-11 img {
			margin-left: -30px;
		}	

	#main-22-31 {
		margin-top: 60px;
	}

}

@media only screen and (max-width: 1020px) {

	#datos-card {
		width: 85%;
		background: ;
	}

		#datos-card li {
			font-size: 15px;
			margin-top: 25px;
			margin-left: 20px;
		}

		#li-2 p {
					margin-left: 40px;
				}

	#container-banner {
		display: block;
		padding-left: 0px;
	}

		#container-banner h1 {
			margin-top: -100px;
			text-align: center;
		}

		#container-banner img {
			margin-top: 50px;
		}

}

/*TABLET MODE*/
@media only screen and (max-width: 996px) {

	/*#main-33 {
		display: none;
	}

	#main-32 {
		display: none;
	}*/

	#hr-main {
		display: none;
	}

	#container-1 {
		background: ;
		height: 1800px;
	}

	#main-2 {
		background: ;
		height: 100%;
	}

	.main-22 {
		display: block;
		background: ;
		height: 33%;
		padding-top: 10px;
	}

	.main-22-1 {
		height: 60%;
		width: 100%;
	}	

	.main-22-2 {
		height: 40%;
		width: 100%;
		background: ;
	}
		.main-22-2 p {
			font-size: 20px;
		}

		.main-22-22 p {
			font-size: 22px;
		}

		.main-22-1 img {
			margin-top: 0px;
			margin-bottom: 0px;
			margin: auto;
		}

	.main-22-21 {
		margin-top: 0px;
		height: 100%;
		padding-top: 10px;
	}

	#main-32 {
		display: block;
		margin: auto;
		padding: 20px;
		box-sizing: border-box;
		background: ;
	}

	#main-22-11 {
		margin: auto;
		margin-left: 0px;
		height: 50%;
		width: 100%;
	}
		#main-22-11 img {
			margin: auto;
			margin-top: -550px;
		}

	#main-22-12 {
		margin: auto;
		height: 50%;
		width: 100%;
		margin-top: 250px;
		background: ;
		margin-left: -20px;
	}
		.main-22-22 {
			margin: auto;
			margin-top: 30px;
		}

	.main-22-22 {
		width: 100%;
	}

	#main-22-31 {
		margin-top: 0px;
	}

	#main-22-3 img {
		margin-top: 0px;
		height: 300px;
		width: 400px;
	}

	.main-22-1 img {
		margin-top: 20px;
	}

}

@media only screen and (max-width: 796px) {

	.main-22-2 {
		height: 43%;
		margin-left: -10px;
	}

	.main-22-2 p {
			font-size: 19px;
		}

		.main-22-22 p {
			font-size: 20px;
		}

	#main-22-31 {
		margin-top: -30px;
	}
}

@media only screen and (max-width: 648px) {

	.main-22-2 {
		height: 43%;
	}

	.main-22-2 p {
			font-size: 17px;
		}

		.main-22-22 p {
			font-size: 20px;
		}

	#main-22-31 {
		margin-top: -30px;
	}
}

@media only screen and (max-width: 648px) {

	.main-22-2 {
		height: 43%;
	}

	.main-22-2 p {
			font-size: 17px;
		}

		.main-22-22 p {
			font-size: 18px;
		}

	#main-22-31 {
		margin-top: -30px;
	}
}

@media only screen and (max-width: 600px) {

	.main-22-2 {
		height: 43%;
	}

	.main-22-2 p {
			font-size: 16px;
		}

		.main-22-22 p {
			font-size: 17px;
		}

	#main-22-31 {
		margin-top: -30px;
	}
}

@media only screen and (max-width: 570px) {

	#container-banner h1 {
		font-size: 40px;
	}

	#container-banner img {
		height: 160px;
		margin-top: 80px;
	}

	.main-22-2 {
		height: 43%;
	}

	.main-22-2 p {
			font-size: 15px;
		}

		.main-22-22 p {
			font-size: 16px;
		}

	#main-22-31 {
		margin-top: -30px;
	}

	#footer-pc-2 h5 {
		font-size: 11px;
	}
}

@media only screen and (max-width: 418px) {

	#datos-card {
		padding-top: 10px;
	}

	#datos-card li {
		font-size: 14px;
	}

	.main-22-2 p {
			font-size: 14px;
		}

		.main-22-22 p {
			font-size: 15px;
		}

	#main-22-3 img {
		height: 300px;
		width: 90%;
	}

	.main-22-2 {
		margin-left: -23px;
	}

	#main-22-31 {
		margin-left: 43px;
	}

}	

/*-----------------------------------------------------------*/


@media only screen and (max-width: 390px) {

	#datos-card {
		padding-top: 10px;
	}

	#datos-card li {
		font-size: 13px;
	}

		#datos-card p {
			margin-left: -10px;
			padding-top: 4px;
		}

		#li-2 p {
			margin-left: 30px;
		}

	.main-22-2 p {
			font-size: 13px;
		}

		.main-22-22 p {
			font-size: 14px;
		}

	.main-22-2 {
		margin-left: -21px;
	}
}

@media only screen and (max-width: 380px) {

	#datos-card {
		padding-top: 15px;
	}

	#datos-card li {
		font-size: 13px;
	}

	#datos-card {
		height: 360px;
		margin-top: -10px;

	}

	#main-22-11 img {
		width: 95%;
	}

	.main-22-1 img {
		width: 90%;

	}

	.footer-contact {
		background: ;
		width: 100%;
	}

	.footer-contact p {
		font-size: 13px;
	}

}

@media only screen and (max-width: 370px) {

	#datos-card {
		padding-top: 3px;
		height: 390px;
	}

	#li-2 p {
		font-size: 12px;
	}

	#datos-card {
		padding-left: 15px;
	}

}

@media only screen and (max-width: 340px) {

	.main-22-22 p {
		font-size: 13px;
	}

	.main-22-21 p {
		font-size: 12px;
	}
}



@media only screen and (max-width: 500px) {

	#main-2 {
		width: 100%;
	}
}

@media only screen and (max-width: 470px) {

	#footer-pc-2 h5 {
		font-size: 9px;
	}
}


/*FOOTER TABLET*/
	
@media only screen and (max-width: 899px) {

footer {
	height: 600px;
}

#footer-pc-1 {
	display: block;
	background: ;
	height: 93%;
}

#footer-pc-2 {
	height: 7%;
}

.footer-11 {
	background: ;
	width: 100%;
}

.footer-contact {
	background: ;
	text-align: center;
	display: block;
	height: 60px;
}

	.footer-contact img {
		margin-bottom: 5px;
		margin-right: 0px;
	}

	#footer-fix-1 {
		height: 40%;
		background: ;
	}

	#footer-fix-2 {
		height: 60%;
		background: ;
	}

#hr-footer {
	visibility: visible;
	width: 50%;
	margin: auto;
}

}
}

@media only screen and (max-width: 796px) {

	#datos-banner {
		width: 90%;
	}

	#datos-card {
		background: ;
		width: 90%;
	}
		#datos-card li {
			margin-left: 35px;
		}
}

@media only screen and (max-width: 650px) {

	#datos-banner {
		width: 100%;
	}

	#datos-card {
		background: ;
		width: 90%;
	}

	#datos-card li {
		margin-left: 10px;
	}
}

/*-------------------------------MEDIA QUERY TWO 4K--------------------------------*/

@media only screen and (min-width: 1921px) {

	#datos-card {
		max-width: 40%;
		background: ;
	}

	.main-22-21 {
		margin-left: 0px;
		max-width: 80%;
	}

	.main-22-22 {
		margin-left: 200px;
		max-width: 80%;
	}
}


/*--------------------------------------------RESPONSIVE SIZE 1 (TABLET)---------------------------------------*/

@media only screen and (max-width: 899px) {

	#nav {
		background: ;
	}
		#nav h1 {
			background: ;
			margin: auto;
			margin-right: 0px;
		}

	#navLinks {
		height: 45px;
		width: 600px;
		margin: auto;
		margin-left: 0px;
	}
		#navLinks a {
			background: rgba(0, 0, 0, 0.5);
		}
			#navLinks a:hover {
				background: rgba(0, 0, 0, 0.8);
			}

/*--------------------------------------------RESPONSIVE SIZE 1 (TABLET 2)---------------------------------------*/

@media only screen and (max-width: 740px) {	

#nav {
	visibility: hidden;
}

nav {
	display: contents;
	width: 100%;
}

#menuToggle
{
	position: absolute;
	width: 50%;
	height: 40%;
	box-sizing: border-box;
  display: block;
  top: 27px;
  left: 50px;
  background: ;
  z-index: 0;
  -webkit-user-select: none
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: orange;
  text-align: center;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: white;
}


#menuToggle input
{
  width: 60px;
  height: 32px;
  position: absolute;
  top: 0px;
  margin-left: -12px;

  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: orange;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: orange;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: relative;
  width: 100%;
  height: 700px;
  margin: -100px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgba(0, 0, 0, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}

#menu li
{
  padding: 20px;
  font-size: 22px;
  margin: auto;
  margin-left: 30px;
}

#menu hr {
	margin-left: 30px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.menu-mobile {
	width: 100%;
	height: 50px;
	display: flex;
	}

#title-mobile {
	float: right;
	margin-right: 50px;
	color: orange;
	font-size: 40px;
	margin-top: -93px;
}

}

