/*-----FONTS------*/
/*
font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;

background: -webkit-linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #1a2639 70%, #1a2639 70%);
background: -o-linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #1a2639 70%);
background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #1a2639 70%);
background: linear-gradient(110deg, #1a2639 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #3e4a61 70%, #1a2639 70%);

*/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

body {
	background: #24242a;
}

/*----------------------------NAV BAR------------------------------*/

#nav {
	background: ;
	width: 100%;
	height: 15%;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	padding-top: 10px;
}

	#nav h1 {
		color: orange;
		float: left;
		width: 100px;
		height: 100%;
		background: ;
		margin-left: 50px;
		font-size: 55px;
		transition: 0.6s;
		cursor: pointer;
	}

		#nav h1:hover {
			color: white;
		}

	#navLinks {
		background: ;
		float: right;
		width: 900px;
		height: 100%;
		font-size: 12px;
		padding-top: 35px;
	}

	#nav li {
		display: inline-block;
	}

	#nav a {
		text-decoration-style: none;
		text-decoration: none;
		color: white;
		margin-left: 20px;
		transition: 0.6s;
		border: 0px solid orange;
		border-radius: 3px;
		padding: 5px;
		padding-left: 30px;
		padding-right: 30px;
		background: rgba(255, 255, 255, 0.1);
	}

		#nav a:hover {
			color: orange;
			background: rgba(0, 0, 0, 0.5);
		}

	.li a {
		border-bottom: 1px solid orange;
	}

	/*---------------------------  CONTENT 1  ------------------------------*/

#main-1 {
	background: rgba(0, 0, 0, 0.5);
	height: 400px;
	width: 100%;
	box-sizing: border-box;
	margin-top: -103px;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
}

	#main-2 {
		height: 70px;
		width: 300px;
		background: #383839;
		margin-left: 60%;
		margin-top: 110px;
		position: absolute;
		box-sizing: border-box;
		padding: 10px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	}
		#main-2 h1 {
			text-align: center;
			color: orange;
		}

	/*---------------------------  CONTENT 2  ------------------------------*/

#content-1 {
	background: #7C7C7F;
	height: 1100px;
	width: 80%;
	margin: auto;
	margin-top: -240px;
	padding-top:1px;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);

}
	#content-1 hr {
		width: 95%;
		margin: auto;
		border-bottom: 2px solid black;
		border-right: none;
	}

	.main-22 {
		height: 220px;
		width: 90%;
		margin: auto;
		margin-top:50px;
		margin-bottom: 50px;
		background: rgba(0, 0, 0, 0.7);
		box-sizing: border-box;
		padding: 30px;
		border-top: 2px solid orange;
		border-bottom: 2px solid orange;
	}

		.main-22 h1 {
			text-align: center;
			font-style: italic;
			margin-top: 10px;
			font-family: 'Caveat', cursive;
			color: white;
		}

		.main-22 h2 {
			text-align: right;
			color: orange;
			margin-top: 4%;
			font-family: 'Caveat', cursive;
		}
	#main-23 {
		height: 71.5%;
		background: ;
		width: 100%;
	}

	.main-24 {
		background: rgba(0, 0, 0, 0.7);
		height: 75%;
		width: 70%;
		margin: auto;
		margin-top: 50px;
		border-radius: 0px;
	}

	.main-25 {
		background: rgba(0, 0, 0, 0.6);
		width: 70%;
		height: 7%;
		margin: auto;
		margin-top: 20px;
		border-top: 2px solid orange;
		border-bottom: 2px solid orange;
		-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
	}
		.main-26 {
			background: ;
			width: 93px;
			height: 100%;
			margin: auto;
			box-sizing: border-box;
			padding-top: 15px;
		}

			.main-26 a {
				text-decoration: none;
				color: orange;
				display: inline-block;
				background: ;
				width: 20px;
				text-align: center;
				transition: 0.3s;
			}

			.main-26 a:hover {
				color: black;
			}

			.main-26 a:nth-child(2) {
				color: black;
			}

	#table {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		margin: auto;

	}

		#table td {
			background: #3B3B3C;
			box-sizing: border-box;
			padding: 0px;
			width: 50%;
		}

		#table tr {
			border-radius: 10px;
		}

			.table-title {
				color: orange;
			}

				.table-title h3{
					color: black;
				}

			.table-content {
				color: white;
			}

		table td {
			border: 10px solid rgba(0, 0, 0, 0.0);
			border-radius: 3px;
		}

		table {
			border-top: 2px solid orange;
			border-bottom: 2px solid orange;
			-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		}


	/*---------------------------  FOOTER  ------------------------------*/


footer {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 300px;
	-webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	
}

	#footer-pc-1 {
		background: ;
		width: 100%;
		height: 85%;
		display: flex;
	}

		.footer-11 {
			background: ;
			height: 100%;
			width: 50%;
			flex: 1;
			box-sizing: border-box;
			padding-top: 50px;
			text-align: center;
		}

			.footer-11 h1 {
				color: orange;
				font-size: 50px;
			}

			.footer-11 h2 {
				color: white;
				font-style: ;
			}

		.footer-11:nth-child(2) {
			background: ;
		}
			.footer-contact {
				background: ;
				width: 370px;
				height: 40px;
				display: flex;
				color: orange;
				padding-top: 10px;
				margin: auto;
			}
				.footer-contact img {
					margin-right: 20px;
					padding-top: 2px;
					height: 22px;
				}

	#footer-pc-2 {
		background: rgba(255, 255, 255, 0.2);
		width: 100%;
		height: 15%;
		text-align: center;
		box-sizing: border-box;
		padding: 10px;
	}

	#hr-footer {
		visibility: hidden;
	}


	/*PRE 4K*/
	
@media only screen and (max-width: 1310px) {

	#content-1 {
		background: ;
		width: 85%;
		height: 1250px;
	}

	.main-25 {
		padding-top: 1px;
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 1230px) {

	#content-1 {
		background: ;
	}

	.main-24 {
		height: 80%;
	}

	.main-22 h1 {
		font-size: 30px;
		color: white;
	}

	.main-22 h2 {
		font-size: 20px;
		color: orange;
	}
}

@media only screen and (max-width: 1090px) {

	#main-2 {
		margin-left: 600px;
	}

}

/*4K*/

@media only screen and (min-width: 1850px) {
		
	#content-1 {
		background: ;
		max-width: 1500px;
	}
}

/*TABLET*/


@media only screen and (max-width: 1020px) {

	#content-1 {
		box-sizing: border-box;
		margin-top: -180px;
		z-index: 0;
	}

	#main-2 {
		margin: auto;
		position: relative;
		display: none;
	}

	#main-3 {
		height: 70px;
		width: 60%;
		background: rgba(255, 255, 255, 0.2);
		margin: auto;
		box-sizing: border-box;
		padding: 10px;
		-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.75);
	}
		#main-3 h1 {
			text-align: center;
			color: orange;
		}

	#main-1 {
		padding-top: 120px;
	}

}

@media only screen and (max-width: 960px) {

	.main-24 {
		width: 80%;
	}

	.main-22 h1 {
		font-size: 25px;
		color: white;
	}

	.main-22 h2 {
		font-size: 18px;
		color: orange;
	}

}

@media only screen and (max-width: 840px) {

	#content-1 {
		height: 1400px;
	}

	.main-25 {
		margin-top: 30px;
	}

}

@media only screen and (max-width: 790px) {

	#content-1 {
		height: 1450px;
	}

	.main-25 {
		margin-top: 30px;
	}

}


/*--------------------------------------------HIDDE NAV-MOBILE---------------------------------------*/

@media only screen and (min-width: 741px) {	
	#title-mobile {
		display: none;
	}	

	nav {
		display: none;
	}
}

/*--------------------------------------------RESPONSIVE SIZE 1 (TABLET 2)---------------------------------------*/

@media only screen and (max-width: 740px) {	

#nav {
	visibility: hidden;
}

nav {
	display: contents;
	width: 100%;
}

#menuToggle
{
	position: absolute;
	width: 50%;
	height: 40%;
	box-sizing: border-box;
  display: block;
  top: 27px;
  left: 50px;
  background: ;
  z-index: 0;
  -webkit-user-select: none
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: orange;
  text-align: center;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: white;
}


#menuToggle input
{
  width: 60px;
  height: 32px;
  position: absolute;
  top: 0px;
  margin-left: -12px;

  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: orange;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: orange;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: relative;
  width: 100%;
  height: 700px;
  margin: -100px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgba(0, 0, 0, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}

#menu li
{
  padding: 20px;
  font-size: 22px;
  margin: auto;
  margin-left: 30px;
}

#menu hr {
	margin-left: 30px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.menu-mobile {
	width: 100%;
	height: 50px;
	display: flex;
	}

#title-mobile {
	float: right;
	margin-right: 50px;
	color: orange;
	font-size: 40px;
	margin-top: -93px;
}

}

@media only screen and (max-width: 840px) {

	.main-25 {
		padding-top: 0px;
		box-sizing: border-box;
		height: 60px;
	}
.main-24 {
		height: 900px;
	}
}

@media only screen and (max-width: 730px) {

	.main-24 {
		height: 1100px;
	}

}



@media only screen and (max-width: 730px) {

	.main-24 {
		width: 90%;
	}

	#content-1 {
		height: 1600px;
	}

}

/*FOOTER TABLET*/
	
@media only screen and (max-width: 899px) {

footer {
	height: 600px;
}

#footer-pc-1 {
	display: block;
	background: ;
	height: 93%;
}

#footer-pc-2 {
	height: 7%;
}

.footer-11 {
	background: ;
	width: 100%;
}

.footer-contact {
	background: ;
	text-align: center;
	display: block;
	height: 60px;
}

	.footer-contact img {
		margin-bottom: 5px;
		margin-right: 0px;
	}

	#footer-fix-1 {
		height: 40%;
		background: ;
	}

	#footer-fix-2 {
		height: 60%;
		background: ;
	}

#hr-footer {
	visibility: visible;
	width: 50%;
	margin: auto;
}


}


/*FONT SIZE MAIN 22*/

@media only screen and (max-width: 540px) {

	.main-22 {
		padding: 20px;
		padding-top: 10px;
	}

	.main-22 h1 {
		font-size: 25px;
	}

	.main-22 h2 {
		font-size: 15px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 440px) {

	.main-22 h1 {
		font-size: 22px;
	}

	.main-22 h2 {
		font-size: 15px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 486px) {

	.main-22 {
		padding: 20px;
		padding-top: 10px;
	}

	.main-22 h1 {
		font-size: 23px;
	}

	.main-22 h2 {
		font-size: 15px;
		margin-top: 10px;
	}
}




@media only screen and (max-width: 430px) {

	.main-22 {
		padding: 20px;
		padding-top: 10px;
	}

	.main-22 h1 {
		font-size: 23px;
	}

	.main-22 h2 {
		font-size: 13px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 400px) {

	.main-22 {
		padding: 20px;
		padding-top: 10px;
	}

	.main-22 h1 {
		font-size: 22px;
	}

	.main-22 h2 {
		font-size: 15px;
		margin-top: 5px;
	}
}


@media only screen and (max-width: 370px) {

	.main-22 {
		padding: 20px;
		padding-top: 15px;
	}


	.main-22 h1 {
		font-size: 21px;
	}

	.main-22 h2 {
		font-size: 12px;
		margin-top: 12px;
	}
}

@media only screen and (max-width: 350px) {

	.main-22 {
		padding: 20px;
		padding-top: 15px;
	}


	.main-22 h1 {
		font-size: 20px;
	}

	.main-22 h2 {
		font-size: 12px;
		margin-top: 15px;
	}
}


@media only screen and (max-width: 320px) {

	.main-22 h1 {
		font-size: 19px;
	}

	.main-22 h2 {
		font-size: 12px;
		margin-top: 15px;
	}

}


/*MARGIN DIVS*/

@media only screen and (max-width: 570px) {

	#footer-pc-2 h5 {
		font-size: 11px;
	}

}

@media only screen and (max-width: 380px) {

	.footer-contact {
		background: ;
		width: 100%;
	}

	.footer-contact p {
		font-size: 13px;
	}
}

@media only screen and (max-width: 415px) {

	#main-1 {
		margin-top: -120px;
	}

	#title-mobile {
		margin-top: -114px;
	}

}

/*EXPERIENCE TITLE MOBILE*/

@media only screen and (max-width: 350px) {

	#main-3 {
		width: 70%;
		min-width: 100px;
	}

}

/*TABLE*/

@media only screen and (max-width: 450px) {

	.table-content {
		font-size: 16px;
	}

	#content-1 {
		width: 90%;
		background: ;
	}

}

@media only screen and (max-width: 390px) {

	.table-content {
		font-size: 15px;
	}

}

@media only screen and (max-width: 353px) {

	.table-content {
		font-size: 15px;
	}
}


@media only screen and (max-width: 337px) {

	.table-title {
		width: 100%;
	}

	.table-content {
		width: 100%;
		font-size: 14px;
	}

}


@media only screen and (max-width: 323px) {

	.table-title {
		width: 100%;
	}

	.table-content {
		width: 100%;
		font-size: 13px;
	}

}
